<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Events</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/hero.css">
	<link rel="stylesheet" href="../static/css/card.css">
</head>
<body>
	<section class='hero'>
		<header>
		  <div class='header-branding'>
        <span><img src="../static/images/nisb_logo.png" width="60px" col> &nbsp;</span>
			  <a href="{{url_for('index')}}">
					<h1 class='header-branding__title' style="color:white;font-size:20px">NIE IEEE Student Branch</h1>
			  </a>
		  </div>
		  <div class='header-links'>
			  <a href="{{url_for('login')}}" class='header-links__anchor' style="color: white;">Login</a>
			  <a href="{{url_for('register')}}" class='header-links__anchor' style="color: white;">Register</a>
			</div>
		</header>

		<h1 class="display-4 text-center" style="color:white">Events</h1>


		<main class="[ main ] [ flow ]">
			<ul class="cards">


			  <li class="card">
				<div class="card__img">
				  <div class="img__cover">
					<img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="" />
				  </div>
				</div>
				<div class="[ card__text ] [ flow ]">
				  <h2>
					<a href="#">Architecture Centre Launches New Design Podcast</a>
				  </h2>
				  <p>The series is in English with nine episodes available on iTunes and Spotify</p>
				  <small>
					2 weeks ago
				  </small>
				</div>
			  </li>


			  <li class="card">
				<div class="card__img">
				  <div class="img__cover">
					<img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="" />
				  </div>
				</div>
				<div class="[ card__text ] [ flow ]">
				  <h2>
					<a href="#">Architecture Centre Launches New Design Podcast</a>
				  </h2>
				  <p>The series is in English with nine episodes available on iTunes and Spotify</p>
				  <small>
					2 weeks ago
				  </small>
				</div>
			  </li>



			  <li class="card">
				<div class="card__img">
				  <div class="img__cover">
					<img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="" />
				  </div>
				</div>
				<div class="[ card__text ] [ flow ]">
				  <h2>
					<a href="#">Architecture Centre Launches New Design Podcast</a>
				  </h2>
				  <p>The series is in English with nine episodes available on iTunes and Spotify</p>
				  <small>
					2 weeks ago
				  </small>
				</div>
			  </li>


			  <li class="card">
				<div class="card__img">
				  <div class="img__cover">
					<img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="" />
				  </div>
				</div>
				<div class="[ card__text ] [ flow ]">
				  <h2>
					<a href="#">Architecture Centre Launches New Design Podcast</a>
				  </h2>
				  <p>The series is in English with nine episodes available on iTunes and Spotify</p>
				  <small>
					2 weeks ago
				  </small>
				</div>
			  </li>


			  <li class="card">
				<div class="card__img">
				  <div class="img__cover">
					<img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="" />
				  </div>
				</div>
				<div class="[ card__text ] [ flow ]">
				  <h2>
					<a href="#">Architecture Centre Launches New Design Podcast</a>
				  </h2>
				  <p>The series is in English with nine episodes available on iTunes and Spotify</p>
				  <small>
					2 weeks ago
				  </small>
				</div>
			  </li>

			  <li class="card">
				<div class="card__img">
				  <div class="img__cover">
					<img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="" />
				  </div>
				</div>
				<div class="[ card__text ] [ flow ]">
				  <h2>
					<a href="#">Architecture Centre Launches New Design Podcast</a>
				  </h2>
				  <p>The series is in English with nine episodes available on iTunes and Spotify</p>
				  <small>
					2 weeks ago
				  </small>
				</div>
			  </li>
			  <li class="card">
				<div class="card__img">
				  <div class="img__cover">
					<img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="" />
				  </div>
				</div>
				<div class="[ card__text ] [ flow ]">
				  <h2>
					<a href="#">Architecture Centre Launches New Design Podcast</a>
				  </h2>
				  <p>The series is in English with nine episodes available on iTunes and Spotify</p>
				  <small>
					2 weeks ago
				  </small>
				</div>
			  </li>
			  
			  <li class="card">
				<div class="card__img">
				  <div class="img__cover">
					<img src="https://images.unsplash.com/photo-1518005020951-eccb494ad742?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="" />
				  </div>
				</div>
				<div class="[ card__text ] [ flow ]">
				  <h2>
					<a href="#">Architecture Centre Launches New Design Podcast</a>
				  </h2>
				  <p>The series is in English with nine episodes available on iTunes and Spotify</p>
				  <small>
					2 weeks ago
				  </small>
				</div>
			  </li>

			
			</ul>
		  </main>





	
		<div class="hero-footer">
				<hr style="height:2px;border-width:0;color:gray;background-color:gray">
				<div class="row">
					<div class="col col-lg-1">
						<a href="https://github.com/nisbweb">
							<div class="fa fa-github fa-3x" style="color: white;"></div>
						</a>
					</div>
					<div class="col col-lg-1">
						<a href="https://www.facebook.com/NieIeeeStudentBranch/">
							<div class="fa fa-facebook fa-3x" style="color: #3b5998;"></div>
						</a>
					</div>
					<div class="col col-lg-1">
						<a href="https://www.linkedin.com/company/nisb">
							<div class="fa fa-linkedin fa-3x" style='color: #0e76a8'></div>
						</a>
					</div>
					<div class="col col-md">
						<a href="https://www.instagram.com/nie_ieee_student_branch/?hl=en">
							<div class="fa fa-instagram fa-3x" style="color: #3f729b;"></div>
						</a>
					</div>
	
					<div class="col" style="color: white;">NIE IEEE Student Branch<br>The National Institute of Engineering<br>Mysuru</div>
					<div class="col" style="color: white;">Syed Amir<br>+91 95384 34472<br>syedamir@ieee.org</div>
				</div>
		</div>
	</section>
</body>
</html>

<style>

.hero {
	width: 100%;
	height: 100vh;
	min-height: 1000px;
	position: relative;
	background-image: url("../static/images/home.jpg");
	background-size: cover;
	background-position: center;
  }

  
.hero-footer {
	background: black;
	padding: 60px 30px;
  }
  
</style>