<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NIE IEEE Student Branch</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
	<link rel="stylesheet" href="../static/css/hero.css">
</head>
<body>
	<section class='hero'>
		<header>
		  <div class='header-branding'>
        <span><img src="../static/images/nisb_logo.png" width="60px" col> &nbsp;</span>
			  <a href="{{url_for('index')}}">
					<h1 class='header-branding__title' style="color:white;font-size:20px">NIE IEEE Student Branch</h1>
			  </a>
		  </div>
		  <div class='header-links'>
			  <a href="{{url_for('login')}}" class='header-links__anchor' style="color: white;">Login</a>
			  <a href="{{url_for('register')}}" class='header-links__anchor' style="color: white;">Register</a>
			</div>
		</header>


		


			<section id="gallery">
				<div class="content-box">
					<div class="content-title">
						<h1 class="display-4 text-center" style="color:white">Gallery</h1>
						<br><br>
						<h4 class="display-5 text-center" style="color:white;font-size:medium">Images from some of our past events and workshops</h4>
						<br><br><br>
					</div>



					
					<div class="container">
						<div class="container-fluid">
							<div class="row no-gutters">
								<div class="col-md-3 col-sm-4">
									<div class="img-wrapper">
										<a href="https://cdn.pixabay.com/photo/2020/02/15/16/09/loveourplanet-4851331_960_720.jpg"> <img src="https://cdn.pixabay.com/photo/2020/02/15/16/09/loveourplanet-4851331_960_720.jpg" alt="" class="img-responsive"></a>
			
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<div class="img-wrapper">
										<a href="https://cdn.pixabay.com/photo/2019/12/26/05/10/pink-4719682_960_720.jpg"> <img src="https://cdn.pixabay.com/photo/2019/12/26/05/10/pink-4719682_960_720.jpg" alt="" class="img-responsive"></a>
			
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<div class="img-wrapper">
										<a href="https://cdn.pixabay.com/photo/2019/11/27/19/03/landscape-4657646_960_720.jpg"><img src="https://cdn.pixabay.com/photo/2019/11/27/19/03/landscape-4657646_960_720.jpg" alt="" class="img-responsive"></a>
			
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<div class="img-wrapper">
										<a href="https://cdn.pixabay.com/photo/2019/12/12/13/42/castle-4690710_960_720.jpg"> <img src="https://cdn.pixabay.com/photo/2019/12/12/13/42/castle-4690710_960_720.jpg" alt="" class="img-responsive"></a>
			
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<div class="img-wrapper">
										<a href="https://cdn.pixabay.com/photo/2020/02/07/19/05/galaxy-4828098_960_720.jpg"> <img src="https://cdn.pixabay.com/photo/2020/02/07/19/05/galaxy-4828098_960_720.jpg" alt="" class="img-responsive"></a>
			
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<div class="img-wrapper">
										<a href="https://cdn.pixabay.com/photo/2019/11/05/16/03/man-4603859_960_720.jpg"> <img src="https://cdn.pixabay.com/photo/2019/11/05/16/03/man-4603859_960_720.jpg" alt="" class="img-responsive"></a>
			
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<div class="img-wrapper">
										<a href="https://cdn.pixabay.com/photo/2020/01/25/02/56/space-4791662_960_720.jpg"> <img src="https://cdn.pixabay.com/photo/2020/01/25/02/56/space-4791662_960_720.jpg" alt="" class="img-responsive"></a>
			
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<div class="img-wrapper">
										<a href="https://cdn.pixabay.com/photo/2020/03/10/05/40/plant-4917877_960_720.jpg"> <img src="https://cdn.pixabay.com/photo/2020/03/10/05/40/plant-4917877_960_720.jpg" alt=""
												class="img-responsive"></a>
			
									</div>
								</div>
							</div>
					</div>
					
				</div>
			</section>
	
	
			
		</div>


	</section>
	<div class="hero-footer">
			<hr style="height:2px;border-width:0;color:gray;background-color:gray">
			<div class="row">
				<div class="col col-lg-1">
					<a href="https://github.com/nisbweb">
						<div class="fa fa-github fa-3x" style="color: white;"></div>
					</a>
				</div>
				<div class="col col-lg-1">
					<a href="https://www.facebook.com/NieIeeeStudentBranch/">
						<div class="fa fa-facebook fa-3x" style="color: #3b5998;"></div>
					</a>
				</div>
				<div class="col col-lg-1">
					<a href="https://www.linkedin.com/company/nisb">
						<div class="fa fa-linkedin fa-3x" style='color: #0e76a8'></div>
					</a>
				</div>
				<div class="col col-md">
					<a href="https://www.instagram.com/nie_ieee_student_branch/?hl=en">
						<div class="fa fa-instagram fa-3x" style="color: #3f729b;"></div>
					</a>
				</div>
				<div class="col" style="color: white;">NIE IEEE Student Branch<br>The National Institute of Engineering<br>Mysuru</div>
				<div class="col" style="color: white;">Syed Amir<br>+91 95384 34472<br>syedamir@ieee.org</div>
			</div>
	</div>
</body>
</html>

<style>
	#gallery h3{
 
		text-transform: uppercase;
		font-size: 36px;
		font-weight: 600;
		color: #6c757d !important;
	  
	  }
	  .row.no-gutters [class*=col-]{
		padding-left: 0;
		padding-right: 0;
	  }
	  .img-wrapper {
		overflow: hidden;
	  }
	  .img-wrapper img{
		transition: transform .5s ease;
	  }
	  .img-wrapper img:hover{
		transform: scale(1.5);
		cursor: zoom-in;
	  }
	  #gallery img{
		width: 100%;
		min-height: 300px;
	  
	  }
	  .container-fluid{
		padding-left: 0;
		padding-right:0;
	  }
</style>


<script>
	$(document).ready(function(){
		$('.carousel').carousel({
		  interval: 2000
		})
	  });  

	  $("#gallery").magnificPopup({
		delegate:'a',
		type:'image',
		gallery:{
		  enabled:true
		}
	  });
</script>