<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>NIE IEEE Student Branch</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/hero.css">
</head>
<body>
	<section class='hero'>
		<header>
		  <div class='header-branding'>
        <span><img src="../static/images/nisb_logo.png" width="60px" col> &nbsp;</span>
			  <a href="{{url_for('index')}}">
					<h1 class='header-branding__title' style="color:white;font-size:20px">NIE IEEE Student Branch</h1>
			  </a>
		  </div>
		  <div class='header-links'>
			  <a href="{{url_for('login')}}" class='header-links__anchor' style="color: white;">Login</a>
			  <a href="{{url_for('register')}}" class='header-links__anchor' style="color: white;">Register</a>
			</div>
		</header>

		<div class="container">
			<div class="row">
				<div class="col-4" style="padding: 30px; justify-content:left">
					<div class='hero-content'>
						<h2 class='hero-content__title' style="color: white;">In Technology We Trust.</h2>
					</div>
				</div>
				<div class="col-8">
					<div class="container" style="padding-top: 30%;padding-left:20%">
						<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
							  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
							  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
							  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
							</ol>
							<div class="carousel-inner">
							  <div class="carousel-item active">
								<img class="d-block w-100" src="../static/images/1.jpg" >
							  </div>
							  <div class="carousel-item">
								<img class="d-block w-100" src="../static/images/2.jpg" >
							  </div>
							  <div class="carousel-item">
								<img class="d-block w-100" src="../static/images/3.jpg" >
							  </div>
							  <div class="carousel-item">
								<img class="d-block w-100" src="../static/images/4.jpg" >
							  </div>
							</div>
							<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							</a>
							<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							  <span class="carousel-control-next-icon" aria-hidden="true"></span>
							</a>
						  </div>
					</div>
				</div>
			</div>
		</div>
		
		<div class='hero-box-container'>
		  <a href="{{url_for('about')}}" class='hero-box'>
			<span class='hero-box__circle hero-box__circle--blue'></span>
			<h2 class='hero-box__title' style="color: white;">About Us</h2>
			<p class='hero-box__body'>Get to know more about the </br> folks here at NISB</p>
		  </a>
		  <a href="{{url_for('gallery')}}" class='hero-box'>
		   <span class='hero-box__circle hero-box__circle--green'></span>
		   <h2 class='hero-box__title' style="color: white;">Gallery</h2>
		   <p class='hero-box__body'>Look at what we do at NISB</p>
		  </a>
		  <a href="{{url_for('events')}}" class='hero-box'>
			<span class='hero-box__circle hero-box__circle--orange'></span>
			<h2 class='hero-box__title' style="color: white;">Events</h2>
			<p class='hero-box__body'>View our past & upcoming </br> events here at NISB!</p>
		  </a>
		</div>
	</section>
	<div class="hero-footer">
			<hr style="height:2px;border-width:0;color:gray;background-color:gray">
			<div class="row">
				<div class="col col-lg-1">
					<a href="https://github.com/nisbweb">
						<div class="fa fa-github fa-3x" style="color: white;"></div>
					</a>
				</div>
				<div class="col col-lg-1">
					<a href="https://www.facebook.com/NieIeeeStudentBranch/">
						<div class="fa fa-facebook fa-3x" style="color: #3b5998;"></div>
					</a>
				</div>
				<div class="col col-lg-1">
					<a href="https://www.linkedin.com/company/nisb">
						<div class="fa fa-linkedin fa-3x" style='color: #0e76a8'></div>
					</a>
				</div>
				<div class="col col-md">
					<a href="https://www.instagram.com/nie_ieee_student_branch/?hl=en">
						<div class="fa fa-instagram fa-3x" style="color: #3f729b;"></div>
					</a>
				</div>
				<div class="col" style="color: white;">NIE IEEE Student Branch<br>The National Institute of Engineering<br>Mysuru</div>
				<div class="col" style="color: white;">Syed Amir<br>+91 95384 34472<br>syedamir@ieee.org</div>
			</div>
	</div>
</body>
</html>

<script>
	$(document).ready(function(){
		$('.carousel').carousel({
		  interval: 2000
		})
	  });  
</script>