
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/css/login.css">
</head>


  <body>
	<div class="form_wrapper">
		<div class="form_container">
		  <div class="title_container">
			<h2>Login</h2>
		  </div>
		  <div class="row clearfix">
			<div class="">
			  <form action='register' method="POST">
				<div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
					<input type="text" name="ieee_num" placeholder="IEEE number" required />
				  </div>
				<div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
				  <input type="password" name="password" placeholder="Password" id='password' required />
				</div>
				<input class="button" type="submit"/>
			  </form>
				</div>
			</div>
			<hr>
			<div style="text-align:center;">New here? 	<span><a href="{{url_for('register')}}">Register</a></span></div>
		  </div>
		</div>
	  </div>  
  </body>
</html>